<h2>Documentation API Anime</h2>
<section>
  <div class="information">
    <table>
      <tr class="titles">
        <th>About</th>
        <th>Request</th>
      </tr>
      <tr>
        <td class="flex"><div><p>GET</p></div>
          <p class="compl">All Animes</p></td>
        <td class="request"><p>/api/animes/</p></td>
      </tr>
      <tr>
        <td class="flex"><div><p>GET</p></div>
          <p class="compl">Single Anime</p></td>
        <td class="request"><p>/api/animes/&#60id&#62</p></td>
      </tr>
      <tr>
        <td class="flex"><div><p>POST</p></div>
          <p class="compl">Create Anime</p></td>
        <td class="request"><p>/api/animes/</p></td>
      </tr>
      <tr>
        <td class="flex"><div><p>PUT</p></div>
          <p class="compl">Update Anime</p></td>
        <td class="request"><p>/api/animes/&#60id&#62</p></td>
      </tr>
      <tr>
        <td class="flex"><div><p>DELETE</p></div><p class="compl">Delete Anime</p></td>
        <td class="request"><p>/api/animes/&#60id&#62</p></td>
      </tr>
    </table>
  </div>
</section>
<h3>It’s all in the details...</h3>